/* Build on XFCE 4.10, Gtk+ 3.10 */

* {
    engine: xfce;

    -xfce-smooth-edge: true;
    -xfce-grip-style: disabled;

    -GtkWidget-focus-line-width      : 1;
    -GtkWidget-focus-padding         : 0;
    -GtkWidget-interior-focus        : true;

    -GtkButton-child-displacement-x  : 0;
    -GtkButton-child-displacement-y  : 1;
    -GtkButton-default-border        : 0;
    -GtkButton-default-outside-border: 0;

    -GtkButtonBox-child-internal-pad-x: 0;
    -GtkButtonBox-child-internal-pad-y: 0;
    -GtkButtonBox-child-min-height   : 0;
    -GtkButtonBox-child-min-width    : 0;

    -GtkCheckButton-indicator-size   : 12;

    -GtkExpander-expander-size       : 11;
    -GtkExpander-expander-spacing    : 0;

    -GtkMenuBar-internal-padding     : 0;

    -GtkMenu-horizontal-padding      : 0;
    -GtkMenu-vertical-padding        : 0;

    -GtkPaned-handle-size            : 3;

    -GtkRange-slider-width           : 15;
    -GtkRange-stepper-size           : 15;
    -GtkRange-stepper-spacing        : 0;
    -GtkRange-trough-border          : 0;

    -GtkScale-value-spacing          : 0;

    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-min-slider-length  : 20;
    -GtkScrolledWindow-scrollbar-spacing: 0;

    -GtkToolbar-internal-padding     : 0;
    -GtkToolbar-space-size           : 10;

    -GtkTreeView-expander-size       : 11;
    -GtkTreeView-horizontal-separator: 0;
    -GtkTreeView-vertical-separator  : 0;

    /* Set invisible resize grip (in the bottom right corner */
    -GtkWindow-resize-grip-width: 0;
    -GtkWindow-resize-grip-height: 0;

    border-width: 2px 2px;

    color: @fg_normal;
    background-color: @bg_normal;
    border-color: @border_end;
}

*:active {
    color: @fg_active;
    background-color: @bg_active;
}

*:insensitive {
    color: @fg_insensitive;
    background-color: @bg_insensitive;
    text-shadow: 1px 1px @fg_normal;
}

*:hover {
    color: @fg_prelight;
    background-color: @bg_prelight;
}

*:selected {
}

*:focused {
}

.view, .entry {
    color: @text_normal;
    background-color: @base_normal;
}

.view:active, .entry:active {
}

.view:insensitive, .entry:insensitive {
    color: @text_insensitive;
    background-color: @base_insensitive;
}

.view:hover, .entry:hover {
    background-color: @base_prelight;
}

.view:selected, .entry:selected {
    color: @text_selected;
    background-color: @base_selected;
}

.view row:nth-child(odd) {
}

.view row:nth-child(odd):active {
}

.view row:nth-child(odd):insensitive {
}

.view row:nth-child(odd):hover {
}

.view row:nth-child(odd):selected {
}

GtkCalendar {
}

GtkCalendar:active {
}

GtkCalendar:insensitive {
}

GtkCalendar:hover {
}

GtkCalendar:selected {
}

GtkCalendar:inconsistent {
}

GtkCalendar:selected {
}

GtkCalendar.button, GtkCalendar.button:active, GtkCalendar.button:insensitive,
  GtkCalendar.button:hover, GtkCalendar.button:selected {
}

.check, .radio {
    color: @text_normal;
    background-color: @base_normal;
    border-color: darker(@bg_normal);
}

.check:active, .radio:active {
    color: @text_normal;
    background-color: @base_normal;
    border-color: darker(@bg_normal);
}

.check:insensitive, .radio:insensitive {
    color: @text_insensitive;
    background-color: @base_insensitive;
    border-color: darker(@bg_normal);
}

.check:hover, .radio:hover {
    color: @text_prelight;
    background-color: @base_selected;
    border-color: darker(@bg_normal);
}

.check:selected, .radio:selected {
    color: @text_active;
    background-color: @base_active;
    border-color: lighter(@bg_normal);
}

.cell {
    color: @text_normal;
    /*background-color: @debug_color;*/
    /*background-image: -gtk-gradient(linear, left top, left bottom,
      from(@debug_color), to(@debug_color));*/
}

.cell:active {
    color: @text_normal;
}

.cell:insensitive {
    color: @text_insensitive;
    text-shadow: 1px 1px @text_normal;
}

.cell:hover {
    color: @text_prelight;
    background-color: @base_prelight;
}

.cell:selected {
    color: @text_selected;
    background-color: @base_selected;
}

.spinbutton.button {
    color: @text_normal;
}

.spinbutton.button:active {
    color: @text_active;
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@border_start_dark), to(@border_end));
}

.spinbutton.button:insensitive {
    color: @text_insensitive;
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@border_start_dark), to(@border_end));
}

.spinbutton.button:hover {
    color: @bg_prelight;
}

.spinbutton.button:selected {
}

GtkProgressBar {
    padding: 0px;
}

.progressbar {
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@fg_normal), to(@fg_prelight));
}

.progressbar.vertical {
    background-image: -gtk-gradient(linear, left top, right top,
      from(@fg_normal), to(@fg_prelight));
}

.trough {
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@border_start_dark), to(@border_end));
    border-width: 1px 1px;
    border-style: solid;
    border-color: @border_start_dark;
}

.trough.vertical {
    background-image: -gtk-gradient(linear, left top, right top,
      from(@border_start_dark), to(@border_end));
}

.trough.bottom.vertical {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@border_end), to(@border_start_light));
}

.scrollbar.trough {
}

.notebook {
    background-color: @base_normal;
    border-color: @border_start_dark;

    border-width: 2px 2px;
    padding: 1px;
}

.notebook tab, .notebook tab * {
    color: @text_normal;
    background-color: @base_normal;
}

.notebook tab:active, .notebook tab *:active {
    background-color: @base_normal;
}


.expander {
    color: @bg_normal;
    border-color: @fg_normal;
}

.expander:active {
}

.expander:insensitive {
    color: @bg_insensitive;
    border-color: @fg_insensitive;
}

.expander:hover {
    color: @fg_normal;
}

.expander:selected {
}

GtkComboBox {
    padding: 0px;
    /*color: @debug_color;*/
}

GtkComboBox .button {
    padding: 1px;
    /*color: @debug_color;
    background-color: @debug_color;*/
}

GtkComboBox .button:insensitive {
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@border_start_dark), to(@border_end));
}

.arrow {
    color: @text_prelight;
}

.arrow:hover {
    color: @fg_prelight;
}

.arrow:insensitive {
    color: @base_insensitive;
}

GtkArrow {
    /*color: @debug_color;*/
}

GtkArrow:insensitive {
    /*color: @debug_color;*/
}

GtkAppChooserButton {
    /*color: @debug_color;*/
}

.menu {
    background-color: @bg_normal;
    border-color: @debug_color;
}

.menuitem {
    background-color: @bg_normal;
    border-color: @fg_normal;
    color: @fg_normal;

    border-width: 2px 1px;
    padding: 2px 1px;
}

.menu:active, .memuitem:active {
    color: @debug_color;
    background-color: @debug_color;
    border-color: @debug_color;
}

.menu:insensitive, .menuitem:insensitive {
    background-color: @bg_insensitive;
    border-color: @text_insensitive;
    color: @text_insensitive;
}

.menu:hover {
    color: @debug_color;
    background-color: @debug_color;
    border-color: @debug_color;
}

.menuitem:hover {
    color: @fg_prelight;
    background-image: none;
    background-color: @bg_prelight;
    border-color: @bg_prelight;
    border-style: solid;
}

.menu:selected, .menuitem:selected {
    color: @debug_color;
    background-color: @debug_color;
    border-color: @debug_color;
}

.menubar {
    background-color: @bg_normal;
    /*background-image: -gtk-gradient(linear, left top, left bottom,
      from(@debug_color), to(@debug_color));*/
    border-color: @debug_color;

    border-width: 2px 1px;
}

.menubar * {
    padding: 2px 3px;
}

.menubar:active {
    color: @debug_color;
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
}

.menubar:insensitive {
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
}

.menubar:selected {
    color: @debug_color;
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
}

.button {
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@border_start_light), to(@border_end));
    /*border-color: darker(#eeeeec);
    */
    /*border-color: @debug_color;*/
    background-color: inherit;
    color: inherit;

    /*-GtkWidget-focus-line-pattern: "\0";*/
}

.button:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@border_start_dark), to(@border_end));
    background-color: @bg_active;
    /*color: @debug_color;*/
}

.button:insensitive {
    /*background-image: -gtk-gradient(linear, left top, left bottom,
      from(shade(@border_start_light, 0.9)), to(shade(@border_end, 0.5)));*/
    /*border-color: @debug_color;*/
    background-color: @bg_insensitive;
    color: @fg_insensitive;
}

.button:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@fg_normal), to(@fg_prelight));
    /*border-color: darker(#cce2ff);*/
    /*border-color: @debug_color;*/
    background-color: @bg_prelight;
    color: @fg_prelight;
}

.button:selected {
    color: @debug_color;
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
}

.button:focused {
  background-image: -gtk-gradient(linear, left top, left bottom,
    from(@fg_normal), to(@fg_prelight));
}

.button:inconsistent {
  background-image: -gtk-gradient(linear, left top, left bottom,
    from(@fg_normal), to(@fg_prelight));
}

.button GtkLabel {
  background-color: inherit;
  color: inherit;
}

.tooltip {
    color: @debug_color;
    background-color: @bg_normal;
    border-color: @bg_insensitive;
    border-style: outset;
    border-width: 2px;
}

.scrollbar {
    -xfce-grip-style: rough;
    color: @text_normal;
    background-color: @debug_color;
}

.button.horizontal, .slider.horizontal {
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@border_start_light), to(@border_end));
    border-color: @text_normal;
    color: @text_normal;
}

.button.horizontal:active, .slider.horizontal:active {
    background-image: -gtk-gradient(linear, left top, left bottom,
        from(@debug_color), to(@debug_color));
    border-color: @debug_color;
}

.button.horizontal:insensitive, .slider.horizontal:insensitive {
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@border_start_dark), to(@border_end));
    border-color: @debug_color;
    color: @base_normal;
}

.button.horizontal:hover, .slider.horizontal:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@fg_normal), to(@fg_prelight));
    border-color: @text_prelight;
    color: @text_prelight;
}

.button.horizontal:selected, .slider.horizontal:selected {
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
}

.button.vertical, .slider.vertical {
    background-image: -gtk-gradient(linear, left top, right top,
      from(@border_start_light), to(@border_end));
    border-color: @text_normal;
    color: @text_normal;
}

.button.vertical:active, .slider.vertical:active {
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
}

.button.vertical:insensitive, .slider.vertical:insensitive {
    background-image: -gtk-gradient(linear, left top, right top,
      from(@border_end), to(@border_start_dark));
    border-color: @debug_color;
    color: @base_normal;
}

.button.vertical:hover, .slider.vertical:hover {
    background-image: -gtk-gradient(linear, left top, right top,
      from(@fg_normal), to(@fg_prelight));
    border-color: @text_prelight;
    color: @text_prelight;
}

.button.vertical:selected, .slider.vertical:selected {
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
}

.dock {
    -xfce-grip-style: slide;
    border-color: @bg_insensitive;
    border-style: inset;
    border-width: 2px 2px;
}

/* Testing various GTK+ style classes */

.accelerator {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.background {
    color: @debug_color;
    background-color: @bg_normal;
}

.bottom {
    background-color: @debug_color;
    color: @debug_color;
}

.calendar {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.combobox-entry {
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.csd {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.cursor-handle {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.default {
  /* This applies to GtkButton (unlike .button which applies to whole
   * GtkButton hierarchy.
   */
}

.dim-label {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.dnd {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.error {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.frame {
    color: @debug_color;
    background-color: @base_insensitive;
    border-color: @bg_insensitive;
    border-style: inset;
    border-width: 1px;
}

.grip {
   /* Grip in the lower right corner of a window.
    * Used for resizing. This theme's grip is invisible.
    */
}

.header {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.highlight {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right bottom,
      from(@border_end), to(@border_start_light));
}

.image {
    /* Icons in GtkEntry */
    color: @text_normal;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.image:hover {
    color: @text_prelight;
}

.image:selected {
    color: @text_selected;
}

.image:insensitive {
    color: @text_insensitive;
}

.info {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.inline-toolbar {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.insertion-cursor {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.level-bar {
    color: @debug_color;
    background-image: -gtk-gradient(linear, left top, left bottom,
      from(@border_start_light), to(@border_end));
}

.list {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.list-row {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.mark {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @fg_normal;
    border-width: 1px;
    border-style: solid;
}

.osd {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @fg_normal;
    border-width: 1px;
    border-style: solid;
}

.pane-separator {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @fg_normal;
    border-width: 1px;
    border-style: solid;
}

.primary-toolbar {
}

.pulse {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @fg_normal;
    border-width: 1px;
    border-style: solid;
}

.question {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @fg_normal;
    border-width: 1px;
    border-style: solid;
}

.raised {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @fg_normal;
    border-width: 1px;
    border-style: solid;
}

.rubberband {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @fg_normal;
    border-width: 1px;
    border-style: solid;
}

.scale {
}

.scale-has-marks-above, scale-has-marks-below {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.scrollbars-junction {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right bottom,
      from(@border_start_dark), to(@border_end));
    border-style: solid;
    border-color: @border_start_dark;
    border-width: 0px 1px 1px 0px;
}

.separator {
    color: @debug_color;
    background-color: @debug_color;
    border-color: @border_start_dark;
    border-width: 2px;
    border-style: inset;
}

.sidebar {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @bg_insensitive;
    border-width: 1px;
    border-style: inset;
}

.spinner {
    color: @fg_normal;
    background-color: @debug_color;
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.spinner:insensitive {
    color: @fg_prelight;
}

.titlebar {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.toolbar {
}

.top {
}

.warning {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.column, .column-header, .row, .tab {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}

.xfce-panel-window-style {
    color: @debug_color;
    background-color: @debug_color;
    background-image: -gtk-gradient(linear, left top, right top,
      from(@debug_color), to(@debug_color));
    border-color: @debug_color;
    border-width: 2px;
    border-style: solid;
}
